.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
}

.modal-form input {
  margin-bottom: 1.2rem;
  border: none;
}

.note {
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 10%;
  border: 5px solid black;
  padding: 1.2rem 6.4rem;
  width: 250px;
  overflow-y: scroll;
  height: 300px;
}

p {
  margin-top: 2rem;
  word-wrap: break-word;
}

h2 {
  font-size: 3.2rem !important;
}
